
#wrap{  
	  
	    z-index: -1;
	    background: cover;
	    background-position: center center;
	    background-attachment: fixed;      
    }

body{
	cursor:url('../img/mouse1.cur'),url('../img/mouse1.cur'),auto;
    height: 100%;
    overflow-x: hidden;
}
.banner {
	
 	position: fixed;
    list-style: none;
    z-index: -4;
}
.banner li span {
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: -5;
    -webkit-backface-visibility: hidden;
    backface-visibility:hidden;
    -webkit-animation: imageAnimation 48s linear infinite 0s;
    -moz-animation: imageAnimation 48s linear infinite 0s;
    animation: imageAnimation 48s linear infinite 0s;
}
@media only screen and (min-width: 768px) {
    .banner li h3 {
        bottom: 30px;
        font-size: 8.125em;
    }
}
@media only screen and (min-width: 1024px) {
    .banner li h3 {
        font-size: 10.9375em;
    }
}
.banner li:nth-child(1) span {
    background-image:url(../img/back1.jpg);
}
.banner li:nth-child(2) span {
    background-image:url(../img/back2.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    animation-delay: 6s;
}
.banner li:nth-child(3) span {
    background-image:url(../img/back3.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    animation-delay: 12s;
}
.banner li:nth-child(4) span {
    background-image:url(../img/back4.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    animation-delay: 18s;
}
.banner li:nth-child(5) span {
    background-image:url(../img/back5.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    animation-delay: 24s;
}
.banner li:nth-child(6) span {
    background-image:url(../img/back6.jpeg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    animation-delay: 30s;
}
.banner li:nth-child(7) span {
    background-image:url(../img/back7.jpg);
    -webkit-animation-delay: 36s;
    -moz-animation-delay: 36s;
    animation-delay: 36s;
}
.banner li:nth-child(8) span {
    background-image:url(../img/back8.jpg);
    -webkit-animation-delay: 42s;
    -moz-animation-delay: 42s;
    animation-delay: 42s;
}

@-webkit-keyframes imageAnimation {
    0% {
    	transform: scale(1,1);
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
    }
    6.25% {
    	transform: scale(1.2,1.2);
        opacity: 1;
        -webkit-animation-timing-function: ease-out;
    }
    12.5% {
    	transform: scale(1.4,1.4);
        opacity: 1;
    }
    18.75% {
    	transform: scale(1.5,1.5);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes imageAnimation {
    0% {
    	transform: scale(1,1);
        opacity: 0;
        -moz-animation-timing-function: ease-in;
    }
    6.25% {
    	transform: scale(1.2,1.2);
        opacity: 1;
        -moz-animation-timing-function: ease-out;
    }
    12.5% {
    	transform: scale(1.4,1.4);
        opacity: 1;
    }
    18.75% {
    	transform: scale(1.5,1.5);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes imageAnimation {
    0% {
    	transform: scale(1,1);
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    6.25% {
    	transform: scale(1.2,1.2);
        opacity: 1;
        -webkit-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    12.5% {
    	transform: scale(1.4,1.4);
        opacity: 1;
    }
    18.75%{
    	transform: scale(1.5,1.5);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}




a{
	color:dimgray;
}
#header{
	background: rgba(0,0,0,0.4);
}
#header nav
{
	opacity: 0.9;
	width: 100%;
	height: 50px;
	background:linear-gradient(to right,pink,coral) ;
}

#header nav ul li{
	float: right;
	display: inline-block;
	margin-right:2%;
	line-height: 50px;
}

#header nav .logo{
	float: left;
	margin-left: 2%;
	
}
.logo a{
	font-family: "宋体";
	font-size: 20px;
	font-weight: bold;
	color: white;
	letter-spacing: 2px;
}
.banner1{
	height: 600px;
}
.clear_fix:after{
	content: "";
	display: block;
    clear: both;	
}

.banner1 .inner{
	color: #F08080;
	max-width: 300px;
    height: 240px;
	margin:0 auto;
	position:relative;
    top: 160px;
    text-align: center;	
}
.banner1 .inner .line{
	width: 300px;
	height: 2px;
	background-color: white;
	margin: 0 auto;
	margin-bottom: 10px;
	
}
.banner1 .inner h1{
	font-size: 30px;
	padding-bottom: 10px;
}
.banner1 .inner p{
	font-size: 20px;
	line-height: 50px;
	letter-spacing: 1px;
}
.banner1 .inner button{
	background-color: #F08080;
	color: white;
	border-radius: 8px;
	padding: 10px 40px;
	border: none;
    outline: none;
	margin: 0 auto;
	transition: 0.5s;
}
.banner1 .inner button:hover{
	
	background-color: coral;
	cursor: pointer;
	transform: scale(1.2,1.2);
	
	}
.banner1 .inner .more{
	padding-top: 160px;
	color: white;
}

.secton1{
	opacity: 0.9;
	background: cadetblue;
	color: white;
	position: relative;
	padding-top: 30px;
	text-align: center;
	
}
.secton1 .wrap{
	max-width: 700px;
	margin: 0 auto;
}
.secton1 .wrap .text h2{
	letter-spacing: 4px;
	font-size: 70px;
	padding-bottom: 50px;
}
.secton1 .wrap .text p{
	font-size: 20px;
	padding-bottom: 20px;
	letter-spacing: 2px;
}
.secton1 .wrap .text .line{
	width:100%;
	height:2px;
	background-color: darkgrey;
	margin:25px auto;
}
.secton1 .wrap .icon .pic{
	width: 150px;
	height:150px;
	display:inline-block;
	margin:40px 30px ;
	margin-bottom: 80px;
}
.secton1 .wrap .icon span img{
	width:100%;
	height:100%;
	
}
.secton1 .wrap .icon span a{
	font-size: 20px;
	color: white;
	letter-spacing: 2px;
}
.secton1 .wrap .icon span a:hover{
	color: darkgrey;
	transition: 0.5s;
}
.section2{
	opacity: 0.9;
	background-color: slategray;
	color: white;
	position: relative;
	width:100%;
}

.section2 .sec .secimg{
	width: 40%;
	
}
.section2 .sec .secimg img{
	width:120%;
	height: 100%;
	margin-bottom: -0.2em;
}
.sec>div{
	float: left;
	
}
.section2 .sec .sectext{
	margin-left:10%;
	margin-top: 30px;
}
.section2 .sec .sectext h2{
	font-size: 50px;
	margin-bottom: 10px;
}
.section2 .sec .sectext p{
	font: "微软雅黑";
	font-size: 20px;
	letter-spacing: 2px;
	margin-bottom: 5px;
}




.section3{
	opacity: 0.9;
	background-color: #696969;
	color: white;
	position: relative;
	width:100%;
}
.section3 .third .thirdimg{
	width: 40%;
	margin: 0px;
	
}
.section3 .third .thirdimg img{
	width:130%;
	height: 100%;
	margin-bottom: -0.2em;
}
.third>div{
	float:right;
	
}
.section3 .third .thirdtext{
	margin-right:20%;
	margin-top: 30px;
}
.section3 .third .thirdtext h2{
	font-size: 50px;
	margin-bottom: 10px;
}
.section3 .third .thirdtext p{
	font: "微软雅黑";
	font-size: 20px;
	letter-spacing: 2px;
	margin-bottom: 5px;
}

.section4
{
	position: relative;
	background:rgba(2,2,3,0.9);
	opacity: 0.5;
	color: white;
	padding-bottom: 10em;
}
.section4 .treewrap{
	max-width: 50%;
	margin: 0 auto;
	padding-top: 50px;
}
.section4 .treewrap .title
{
	text-align: center;
}
.section4 .treewrap .title h2{
	font: "微软雅黑";
	font-size: 3em;
	margin-bottom:0.4em;
}
.section4 .treewrap .title .line
{
	margin: 0 auto;
	width:100%;
	height: 3px;
	background: #A9A9A9;
	opacity: 0.9;
}
.section4 .treewrap .title p{
	font: "微软雅黑";
	font-size: 1em;
	margin-top:0.4em;
}

.card
{
	margin: 0 auto;
	/*max-width: 70%;*/
	padding-top:7%;
}
.card .cardcore{
 border-radius: 1em;
 width: 40%;
 min-height: 10em;
 padding-left:10%;
 float: left;
 padding-bottom: 1%;
 padding-top: 1%;
}
.card .cardcore .line1{
	height: 0.1em;
	width:80%;
	background:darksalmon;
}
.card .cardcore a
{
	font-size: 1.5em;
	text-align: center;
	color:rgba(255, 0, 0, 0.89);
}
.card .cardcore p{
	color:black;
	text-align: left;
	font-weight: 501;
}
.cardcore:nth-child(1){
	background-color:rgba(140, 113, 87, 0.9);
}
.cardcore:nth-child(2){
	background-color:rgba(170, 92, 51, 0.9);
}
.cardcore:nth-child(3){
	background-color:rgba(26, 6, 75, 0.9);
}
.cardcore:nth-child(4){
	background-color:rgba(126, 9, 55, 0.9);
}

#footer{
	position: relative;
	height: 9em;
	background-color: #333;
	text-align: center;
	color: white;
	padding-top: 5.2em;
	opacity: 0.95;
}
#footer p{
	font-size: 1em;
	margin-bottom:2em;
	letter-spacing: 0.5em;

}
