html {
    min-height: 100%;
}
body {
    height: 100%;
}

.banner {
 	position: fixed;
    list-style: none;
    z-index: -4;
}
/*.banner li h4{
	width: 500px;
	position:fixed;
    text-align:center;
    z-index: -3;
    padding-bottom: 50px;
    padding-top: 120px;
    margin: auto auto;
    left: 0;
    right: 0;
    opacity: 0;
    font-size:1.8em;
    font-family: "monotype corsiva", sans-serif;
    text-transform: uppercase;
    color:#F08080;
    -webkit-animation: contentAnimation 96s linear infinite 0s;
    -moz-animation: contentAnimation 96s linear infinite 0s;
    animation: contentAnimation 96s linear infinite 0s;
}*/
.banner li span {
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: -5;
    -webkit-backface-visibility: hidden;
    backface-visibility:hidden;
    -webkit-animation: imageAnimation 48s linear infinite 0s;
    -moz-animation: imageAnimation 48s linear infinite 0s;
    animation: imageAnimation 48s linear infinite 0s;
}
.banner li h3 {
    position:fixed;
    text-align: center;
    z-index: 2;
    padding-bottom: 300px;
    left: 0;
    right: 0;
    opacity: 0;
    font-size: 4.0625em;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color:#F08080;
    -webkit-animation: titleAnimation 24s linear 1 0s;
    -moz-animation: titleAnimation 24s linear 1 0s;
    animation: titleAnimation 24s linear 1 0s;
}
@media only screen and (min-width: 768px) {
    .banner li h3 {
        bottom: 30px;
        font-size: 8.125em;
    }
}
@media only screen and (min-width: 1024px) {
    .banner li h3 {
        font-size: 10.9375em;
    }
}
.banner li:nth-child(1) span {
    background-image:url(../img/back1.jpg);
}
.banner li:nth-child(2) span {
    background-image:url(../img/back2.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    animation-delay: 6s;
}
.banner li:nth-child(3) span {
    background-image:url(../img/back3.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    animation-delay: 12s;
}
.banner li:nth-child(4) span {
    background-image:url(../img/back4.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    animation-delay: 18s;
}
.banner li:nth-child(5) span {
    background-image:url(../img/back5.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    animation-delay: 24s;
}
.banner li:nth-child(6) span {
    background-image:url(../img/back6.jpeg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    animation-delay: 30s;
}
.banner li:nth-child(7) span {
    background-image:url(../img/back7.jpg);
    -webkit-animation-delay: 36s;
    -moz-animation-delay: 36s;
    animation-delay: 36s;
}
.banner li:nth-child(8) span {
    background-image:url(../img/back8.jpg);
    -webkit-animation-delay: 42s;
    -moz-animation-delay: 42s;
    animation-delay: 42s;
}
/*
.banner li:nth-child(9) h4{
	-webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    animation-delay: 6s;
}
.banner li:nth-child(10) h4{
	-webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    animation-delay: 18s;
}
.banner li:nth-child(11) h4{
	-webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    animation-delay: 30s;
	
}
.banner li:nth-child(12) h4{
	-webkit-animation-delay: 42s;
    -moz-animation-delay: 42s;
    animation-delay: 42s;
}
.banner li:nth-child(13) h4{
	-webkit-animation-delay:54s;
    -moz-animation-delay: 54s;
    animation-delay: 54s;
}
.banner li:nth-child(14) h4{
	-webkit-animation-delay: 66s;
    -moz-animation-delay: 66s;
    animation-delay: 66s;
}
.banner li:nth-child(15) h4{
	-webkit-animation-delay: 78s;
    -moz-animation-delay: 78s;
    animation-delay: 78s;
}
*/

@-webkit-keyframes imageAnimation {
    0% {
    	transform: scale(1,1);
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
    }
    6.25% {
    	transform: scale(1.2,1.2);
        opacity: 1;
        -webkit-animation-timing-function: ease-out;
    }
    12.5% {
    	transform: scale(1.4,1.4);
        opacity: 1;
    }
    18.75% {
    	transform: scale(1.5,1.5);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes imageAnimation {
    0% {
    	transform: scale(1,1);
        opacity: 0;
        -moz-animation-timing-function: ease-in;
    }
    6.25% {
    	transform: scale(1.2,1.2);
        opacity: 1;
        -moz-animation-timing-function: ease-out;
    }
    12.5% {
    	transform: scale(1.4,1.4);
        opacity: 1;
    }
    18.75% {
    	transform: scale(1.5,1.5);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes imageAnimation {
    0% {
    	transform: scale(1,1);
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    6.25% {
    	transform: scale(1.2,1.2);
        opacity: 1;
        -webkit-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    12.5% {
    	transform: scale(1.4,1.4);
        opacity: 1;
    }
    18.75%{
    	transform: scale(1.5,1.5);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes titleAnimation {
    0% {
    	transform: scale(0.5,0.5);
        opacity: 0;
    }
    12.5% {
    	transform: scale(0.7,0.7);
        opacity: 1;
    }
    25% {
    	transform: scale(0.9,0.9);
        opacity: 1;
    }
     
    37.5% {
    	transform: scale(1,1);
        opacity: 0;
    }
    
    100% {
        opacity: 0;
    }
}
@-moz-keyframes titleAnimation {
    0% {
    	transform: scale(0.5,0.5);
        opacity: 0;
    }
    12.5% {
    	transform: scale(0.7,0.7);
        opacity: 1;
    }
    25% {
    	transform: scale(0.9,0.9);
        opacity: 1;
    }
    37.5% {
    	transform: scale(1,1);
        opacity: 0;
    }
 
    100% {
    	
        opacity: 0;
    }
}
@keyframes titleAnimation {
    0% {
    	transform: scale(0.5,0.5);
        opacity: 0;
    }
    12.5% {
    	transform: scale(0.7,0.7);
        opacity: 1;
    }
    25% {
    	transform: scale(0.9,0.9);
        opacity: 1;
    }
    37.5% {
    	transform: scale(1,1);
        opacity: 0;
    }
   
    100% {
        opacity: 0;
    }
}
.no-cssanimations .banner li span {
    opacity: 1;
}


@keyframes contentAnimation{
	 0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    5% {
        opacity: 1;
        -webkit-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
    
        opacity: 1;
    }
    12.5%{
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

#music{
	margin-top: 10px;
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#music .musicell{
	z-index: 1;
	width: 340px;
	
}

#text{
	z-index: -4;
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
#text .textcell{
   color: #F08080;
   font-family: "黑体";
   width: 500px;
   font-size: 50px;
   z-index: -1;
   position: absolute;
   top:100px;
   text-align: center;
/*	background-color:#eff7ff;*/
    background: url(../img/textcell.png);
    background-position: center;
	opacity: 0.8;
	width: 80%;
/*	border: #96c2f1 solid 2px;*/
    border-radius: 30px;
    height: 500px;
    padding-top: 3%;
}

#text .textbanner li h4{
	max-width: 70%;
	position:fixed;
    text-align:center;
    z-index: -3;
    padding-bottom: 50px;
    padding-top: 3%;
    margin: auto auto;
    left: 0;
    right: 0;
    opacity: 0;
    font-size:0.5em;
    font-family: "monotype corsiva", sans-serif;
    text-transform: uppercase;
    color:#F08080;
    -webkit-animation: contentAnimation 96s linear infinite 0s;
    -moz-animation: contentAnimation 96s linear infinite 0s;
    animation: contentAnimation 96s linear infinite 0s;
}
#text .textbanner li:nth-child(1) h4{
	-webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    animation-delay: 6s;
	
}
#text .textbanner li:nth-child(2) h4{
	-webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    animation-delay: 18s;
}
#text .textbanner li:nth-child(3) h4{
	-webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    animation-delay: 30s;
	
}
#text .textbanner li:nth-child(4) h4{
	-webkit-animation-delay: 42s;
    -moz-animation-delay: 42s;
    animation-delay: 42s;
}
#text .textbanner li:nth-child(5) h4{
	-webkit-animation-delay:54s;
    -moz-animation-delay: 54s;
    animation-delay: 54s;
}
#text .textbanner li:nth-child(6) h4{
	-webkit-animation-delay: 66s;
    -moz-animation-delay: 66s;
    animation-delay: 66s;
}
#text .textbanner li:nth-child(7) h4{
	-webkit-animation-delay: 78s;
    -moz-animation-delay: 78s;
    animation-delay: 78s;
}
#text .textbanner li:nth-child(8) h4{
	-webkit-animation-delay: 90s;
    -moz-animation-delay: 90s;
    animation-delay: 90s;
}
